<!-- show the login navbar -->
<%= render 'shared/login_navbar' %>

<div class="container">
<!-- Sets bootstrap layout for this div to row -->
    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
      <h1>NFLC Tutor Log In</h1>
      <!-- Specifying the route to go to login path -->
      <%= form_for :login, url: login_path do |f| %> 
      <!-- email entry  -->
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control"    %>
      </div>
      <!-- password entry -->
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control"    %>
      </div>
      <!-- log in button -->
      <div class="form-group">
        <%= f.submit 'Log in', class: "btn btn-success btn-block"  %>
      </div>
      <% end %> <!-- end of form -->
      <!-- sign up button -->
      <%= link_to "Don't have an Account?  Sign up", signup_path, class: "btn btn-primary btn-block"  %>
    </div>
</div>