<h1>New Future Learning</h1>

<%= image_tag "logo_4NF.jpg" %>

  <%= form_for :login, url: login_path do |f| %>  <!-- Specifying the route to go to login path -->
    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit 'Log In' %>
    </div>
<% end %>

<br>

<%= link_to "Sign up", signup_path %>