<%= render 'shared/login_navbar' %> 

<div class="container">
  <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
    <%#= image_tag("logo_4NF.jpg", size: "375x375") %>
    <h1>Tutor Log In</h1>

    <%= form_for :login, url: login_path do |f| %>  <!-- Specifying the route to go to login path -->
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control"    %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control"    %>
    </div>
    <div class="form-group">
      <%= f.submit 'Log in', class: "btn btn-success btn-block"  %>
    </div>
    <% end %>

<%= link_to "Don't have an Account?  Sign up", signup_path, class: "btn btn-primary btn-block"  %>

  </div>
</div>