<% if logged_in? %>

<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    
	 
	<% if current_user.role == "admin" %>  

	<!-- Search boxes...form_tag is for passing data, form_for is for creating new instances-->
	<!-- ******************************************************************************** -->
	<%= form_tag reports_path, method: :get do  %>
		<div div class="col-md-4">
			<div>
			  <h4>Search by Student Id:</h4>
		      <%= label_tag :student_id, ""  %>
		      <%= text_field_tag :student_id%>
		    </div>
		    <br>
		    <%= submit_tag 'Search', class: "btn btn-primary" %>
			<% end %>
		</div>
	<%= form_tag reports_path, method: :get do  %>
		<div div class="col-md-4">
		<div>
		<h4>Search by Director flag:</h4>
	      <%= label_tag :director_flag_setting, "" %>
	      <%= text_field_tag :director_flag_setting %>
	    </div>
	     <br>
	    <%= submit_tag 'Search', class: "btn btn-primary" %>
		<% end %>
 		</div>
	<%= form_tag reports_path, method: :get do  %>
		<div div class="col-md-4">
		<div>
		<h4>Search by Parent flag:</h4>
	      <%= label_tag :parent_flag_setting, "" %>
	      <%= text_field_tag :parent_flag_setting %>
	    </div>
	     <br>
	    <%= submit_tag 'Search', class: "btn btn-primary" %>
	<% end %>
	 </div>
	<!-- ********************************************************************************* -->
   
  </div>

	<section>
		<div class="row">
			<h3>Reports:</h3>
				<% @reports.each do |report| %>
				<div class="col-md-4">
					<h3>Report #<%= @reports.index(report) +1 %></h3>
					<p><strong>Report on Student Id # <%=report.student_nfl_id%> </strong></p>
					<p><strong>Written by Tutor Id #: <%=report.tutor_nfl_id%> </strong></p>
				<%= link_to "More info", report_path(report) %>
				</div>
			<% end %>
		</div>
	</section>

	<% else %>
		<section>
			<h3>Reports:</h3>
				<% @user.reports.each do |report| %>
				<div>
				<div class="col-md-4">
					<h3>Report #<%= @user.reports.index(report) +1 %></h3>
					<p><strong>Report on Student Id # <%=report.student_nfl_id%> </strong></p>
					<p><strong>Written by tutor Id #: <%=report.tutor_nfl_id%></strong></p>
					<%= link_to "More info", report_path(report) %>
				</div>
			<% end %>
			</div>
		</section>
	<% end %>

	<% else %>
		 <h1>You are not logged in.  Please log in to access this page.</h1>
	  <%= link_to 'Log In', login_path %>
	
  </div>
</div>

<% end %>
