<!-- If logged in, show this page -->
<% if logged_in? %>
	<!-- Show NavBar -->
	<%= render 'shared/navbar' %>
	<div class="container">
		<!-- Sets bootstrap layout for this div to row -->
	    <div class="row">
			<!-- Below are search boxes (form_tag is for passing data, form_for is for creating new instances)-->
			<!-- ******************************************************************************** -->
			<!-- Search reports by student id -->
			<%= form_tag reports_path, method: :get do  %>
				<div div class="col-md-4">
					<div>
					    <h4>Search by Student Id:</h4>
				        <%= label_tag :student_id, ""  %>
				        <%= text_field_tag :student_id%>
				    </div>
				    <br>
				    <%= submit_tag 'Search', class: "btn btn-primary" %>
				</div> 
			<% end %>
			<!-- Search reports by director flag -->
			<%= form_tag reports_path, method: :get do  %>
				<div div class="col-md-4">
					<div>
						<h4>Search by Director flag:</h4>
				        <%= label_tag :director_flag_setting, "" %>
				        <%= text_field_tag :director_flag_setting %>
				    </div>
				    <br>
				    <%= submit_tag 'Search', class: "btn btn-primary" %>
				</div>
			<% end %>
		 	<!-- Search reports by parent flag -->
			<%= form_tag reports_path, method: :get do  %>
				<div div class="col-md-4">
					<div>
						<h4>Search by Parent flag:</h4>
					    <%= label_tag :parent_flag_setting, "" %>
					    <%= text_field_tag :parent_flag_setting %>
				    </div>
				    <br>
				    <%= submit_tag 'Search', class: "btn btn-primary" %>
				</div>   
			<% end %>
			<!-- ********************************************************************************* -->
		   	<!-- Show a list of all reports starting from the newest to oldest-->
			</div>
				<section>
					<div class="row">
						<h3>Reports:</h3>
						<% @reports.reverse.each do |report| %>
							<div class="col-md-4">
								<p><strong>Report on Student Id # <%=report.student_nfl_id%> </strong></p>
								<p><strong>Written by Tutor Id #: <%=report.tutor_nfl_id%> </strong></p>
								<p><strong>Created at:</strong> <%= report.created_at.strftime("%I:%M%p on %m/%d/%y") %></p>
								<p><strong>What was covered:</strong> <%= report.what_was_covered %></p>
							    <p><strong>Performance:</strong> <%= report.performance %></p>
							    <p><strong>Assignment:</strong> <%= report.assignment %></p>
								<p><strong>Director flag:</strong> <%= report.director_flag%></p>
								<p><strong>Parent flag:</strong> <%= report.parent_flag %></p>
								<% if current_user.role == "admin" %> 
								<!-- edit button -->
								<%= link_to "Edit this report", edit_report_path(report), class: "btn btn-primary" %>
								<!-- delete button -->
								<%= link_to "Delete this report", report_path(report), method: :delete, data: { confirm: "Are you sure you want to delete this report?"}, class: "btn btn-danger"  %>
								<% end %><!-- end admin if statement from above -->
							</div>
						<% end %>
					</div>
				</section>
			<% else %>
			<h1>You are not logged in.  Please log in to access this page.</h1>
		    <%= link_to 'Log In', login_path %>
	</div>
<% end %>
