<%= render 'shared/navbar' %> 

<h1> <%= @report.student_nfl_id %> 's report</h1>

<p>Student ID #: <%= @report.student_nfl_id %>  <br>
Created at: <%= @report.created_at %><br>
What was covered: <%= @report.what_was_covered %><br>
Performance: <%= @report.performance %><br>
Assignment: <%= @report.assignment %><br>
Director flag: <%= @report.director_flag%><br>
Parent flag: <%= @report.parent_flag %>

</p>


<%= link_to "Edit this report!", edit_report_path(@report) %>

<%= link_to "Delete this report!", report_path, method: :delete, data: { confirm: "Are you sure you want to delete this report?"} %>

<%= link_to "Back to your reports", reports_path %>