<%= render 'shared/navbar' %> 
<div class="col-md-8">
	<h1>Report Details:</h1>

	<p><strong>Student ID #: </strong><%= @report.student_nfl_id %> <br><br>
	<strong>Created at:</strong> <%= @report.created_at %><br><br>
	<strong>What was covered:</strong> <%= @report.what_was_covered %><br><br>
	<strong>Performance:</strong> <%= @report.performance %><br><br>
	<strong>Assignment:</strong> <%= @report.assignment %><br><br>
	<strong>Director flag:</strong> <%= @report.director_flag%><br><br>
	<strong>Parent flag:</strong> <%= @report.parent_flag %>

	</p>

	<% if current_user.role == "admin" %> 

	<%= link_to "Edit this report!", edit_report_path(@report), class: "btn btn-primary" %>

	<%= link_to "Delete this report!", report_path, method: :delete, data: { confirm: "Are you sure you want to delete this report?"}, class: "btn btn-danger"  %>

	<% end %>

</div>
